.navbar {
    width: 100%;
    margin: 0;
    padding:0;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #7997D0;
    margin: 0;
}

li {
    float: left;
    padding: 0;
    margin: 0;
}

li a {
    color: white;
    display: inline-flex;
    align-items: center;
    height:2em;
    padding: 8px;
    font-size:1em;
    text-decoration: none;
    color: 	#FFFAFA;
    vertical-align: middle;

}

li a img {
    margin: 20px;
}


li a:hover {
    background-color: #FFD485;
}

li a:active {
    background-color: #FF894A;
}

li a img {
    height: 2.5em;
    vertical-align: text-bottom;
}