.navbar {
    width: 100%;
    margin: 0;
    padding:0;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to top,#f2a900, #ec5600);
    margin: 0;
}

li {
    float: left;
    padding: 0;
    margin: 0;
}

li a {
    color: white;
    display: inline-flex;
    align-items: center;
    padding: 8px;
    font-size:1rem;
    text-decoration: none;
    color: 	#FFFAFA;
    vertical-align: middle;
    line-height: 2.5rem;

}



li a:hover {
    background-color: #FF894A;
}
