html {
    background-color: #F3EBE1;
}
.App {
  text-align: center;
  width: 100%;
}



.left-box {
    width: 90%;
    border: 1px black solid;
    margin: 0 auto;
}

.right-box {
    width: 45%;
    border: 1px black solid;
    margin: 0 auto;
}