html, body {
    background-color: #FFFFFF;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.App {
  text-align: center;
  width: 100%;
  /*background-color: #a7b7d4;*/
  height: 100vh;
  background-image: url('../../logo-trimmed.png');
  background-repeat:no-repeat;
  background-position: center;
}
